    <div class="content">
      <div class="newsletter">
        <form class="center" action="https://tinyletter.com/fantomeszine" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/fantomeszine', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <label for="tlemail">Join the newsletter</label>
          <br/>
          <div class="newsletter-form">
            <input type="text" placeholder="Enter your email address" style="width:250px" name="email" id="tlemail" />
            <input type="hidden" value="1" name="embed"/>
            <input type="submit" value="Subscribe" />
          </div>
        </form>
      </div>
      <div class="big-separator medium-padding-top">
        <img src="/img/big-separator.png" alt="" />
      </div>
    </div>
    <script async src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
    <div hidden id="snipcart" data-api-key="YWNiOGI5ZTQtYjNlMi00ZTA0LWI3NDAtMjJjZDI2ZTkxODY4NjM3NTY4NjU3OTgzMTYxNDQz"></div>
  </body>
</html>
