<body>
  <div class="wrap">
    <header>
      <div class="left-border">
        <img src="/img/border-left.png"/>
      </div>
      <div class="right-border">
        <img src="/img/border-right.png"/>
      </div>
      <div class="logo">
        <h1>
          <a href="/" title="Back to home page" aria-label="Back to home page">
            <img
              src="/img/fantomes.png"
              width="400"
              alt="Fantômes zine hand-drawn logo"
            />
          </a>
        </h1>
      </div>
      {{ partial "menu" . }}
    </header>
