<nav class="menu">
  <a href="/" title="Back home" aria-label="Back home">Home</a>
  <span>✦</span>
  <a href="/about" title="About page" aria-label="About page">About</a>
  <span>✦</span>
  <a href="/submissions" class="hidden" title="Submissions page" aria-label="Submissions page">Submissions</a>
  <span class="hidden">✦</span>
  <a href="/details" title="Details page" aria-label="Details page">Details</a>
  <span>✦</span>
  <a href="/artists" title="Artists page" aria-label="Artists page">Artists</a>
</nav>
