{{ partial "head" . }}
{{ partial "header" . }}

<main>
<div class="content">
  <h1>{{ .Title }}</h1>
    <p>
      Here is the list of artists that collaborated to the first issue and where to find more of their work.
    </p>
    <table>
      <tbody>
        <tr>
          <td>Alexa Jade Frankelis</td>
            <td><a href="https://instagram.com/TheMourningMoon">@TheMourningMoon</a></td>
            </tr>
            <tr>
              <td>Amazey</td>
              <td><a href="https://weirder.earth/@twistylittlepassages">@twistylittlepassages</a></td>
            </tr>
            <tr>
              <td>Blood and Dust</td>
              <td><a href="https://blood-and-dust.com/">https://blood-and-dust.com/</a></td>
            </tr>
            <tr>
              <td>Devine Lu Linvega</td>
              <td><a href="https://xxiivv.com">https://xxiivv.com</a></td>
            </tr>
            <tr>
              <td>Emma D</td>
              <td><a href="https://instagram.com/gosen1212">@gosen1212</a></td>
            </tr>
            <tr>
              <td>Fey</td>
              <td><a href=" https://estfyr.net"> https://estfyr.net</a></td>
            </tr>
            <tr>
              <td>Hellien</td>
              <td><a href="https://mahuot.wordpress.com">https://mahuot.wordpress.com</a></td>
            </tr>
            <tr>
              <td>Helvetica Blanc</td>
              <td><a href="https://helveticablanc.com">https://helveticablanc.com</a></td>
            </tr>
            <tr>
              <td>James Chip</td>
              <td><a href="https://www.jameschip.io/">https://www.jameschip.io/</a></td>
            </tr>
            <tr>
              <td>Lizbeth Poirier</td>
              <td><a href="https://ritualdust.com">https://ritualdust.com</a></td>
            </tr>
            <tr>
              <td>Mark A. Matienzo</td>
              <td><a href="https://matienzo.org/">https://matienzo.org/</a></td>
            </tr>
            <tr>
              <td>Mark Jarrell</td>
              <td><a href="https://markjarrellart.com/">https://markjarrellart.com/</a></td>
            </tr>
            <tr>
              <td>Marty Adem</td>
              <td><a href="https://mephizstudio.com">https://mephizstudio.com</a></td>
            </tr>
            <tr>
              <td>Mike Wolf</td>
              <td><a href="https://wolfmd.me">https://wolfmd.me</a></td>
            </tr>
            <tr>
              <td>Perséphone</td>
              <td><a href="mailto:persephonemusings@gmail.com">persephonemusings@gmail.com</a></td>
            </tr>
            <tr>
              <td>Roy Niang</td>
              <td><a href="https://royniang.com"> https://royniang.com</a></td>
            </tr>
          </tbody>
        </table>
        <br />
        <p class="center hidden">
          <a href="/submissions">Submissions open</a>
        </p>
        <div class="branch">
          <img src="/img/torch.png" width="300" />
        </div>
      </div>
    </main>

    {{ partial "footer" . }}
