  <div class="product">
    <div class="row">
      <div class="price">from {{ with .Get "price" }}{{ . }}{{ end }}$</div>
      <button class="snipcart-add-item"
        data-item-id="{{ with .Get "id" }}{{ . }}{{ end }}"
        data-item-price="{{ with .Get "price" }}{{ . }}{{ end }}"
        data-item-url="{{ with .Get "url" }}{{ . }}{{ end }}"
        data-item-description="{{ with .Get "desc" }}{{ . }}{{ end }}"
        data-item-image="{{ with .Get "image" }}{{ . }}{{ end }}"
        data-item-name="{{ with .Get "title" }}{{ . }}{{ end }}"
        data-item-weight="{{ with .Get "weight" }}{{ . }}{{ end }}"
        data-item-length="{{ with .Get "length" }}{{ . }}{{ end }}"
        data-item-height="{{ with .Get "height" }}{{ . }}{{ end }}"
        data-item-width="{{ with .Get "width" }}{{ . }}{{ end }}"
        data-item-custom1-name="Version"
        data-item-custom1-options="{{ with .Get "options" }}{{ . }}{{ end }}"
        data-item-custom1-required="true"
        >
        Add to cart
      </button>
    </div>
    <div class="download">
    <a href="{{ with .Get "download" }}{{ . }}{{ end }}" download>download the free pdf version</a>
    </div>
    {{ with .Get "preorder" }}
      <div class="preorder-warning hidden">
        THIS IS A PRE-ORDER, COPIES WILL START SHIPPING AT THE END OF NOVEMBER
      </div>
    {{ end }}
    {{ with .Get "lowstock" }}
      <div class="preorder-warning">
        THERE IS A COUPLE OF COPIES LEFT,<br/> ORDERS WILL BE SHIPPED THE SAME WEEK
      </div>
    {{ end }}
  </div>
