{{ partial "head" . }}
{{ partial "header" . }}

<main>
  <div class="content">
    <h1>{{ .Title }}</h1>
      <p>
        Fantômes is a collaborative ghost story zine, bringing together
        story-telling, poetry, folklore, illustration and photography in small
        cobbled-together publication. It is a place to explore personal and
        collective ghosts, lend them a voice through summoning rituals, raw
        poetry or scribbled drawings and get familiar with their haunting
        presence.
      </p>
      <blockquote>
        <strong>
          “It’s hard to walk with ghosts on your shoulders, but when you learn
          to listen to what they’re saying, you realize that they’re telling
          the story of who you are.”
        </strong>
      </blockquote>
      <small>- Kai Cheng Thom </small>
    <br />
    <p class="center hidden">
      <a href="/submissions">Submissions open</a>
    </p>
    <div class="branch">
      <img src="/img/branch.png" width="300" />
    </div>
  </div>
</main>

{{ partial "footer" . }}
