{{ partial "head" . }}
{{ partial "header" . }}

<main>
  <div class="upcoming">1st Edition: Summer 2021</div>
  <div class="content">
    <img
      src="/img/home-page-2.png"
      alt="A very grainy photo of the inside of a mausoleum, mostly shrouded in shadows with a glowing smoke shape in the middle, raising from the floor."
    />
    <div class="skull">
      <img
        src="/img/skull.png"
        width="100"
        alt="Skull drawing with ghostly lines coming out of it"
      />
    </div>
    <small class="note columns">
          I initally came to this remote place to see Aleister Crowley's old
          residence - where he suposedly held a unfinished dark ritual - but now
          this little cemetery on the other side of the road was now calling me.
          I propped myself up on the broken tombstone leaning against the wall
          of the (only) small mausoleum, trying to peak inside through the
          broken window. I noticed that the black painted wood of the window
          frame was covered in grafiti, from people's names to the iconic "666"
          probably left there by another occultism nerd before me, fitting. The
          interior did not disapoint: obscure sigils carved onto the stone
          mantelpiece, remants of burned out candles on the floor and a hazy
          mist emanating from the floor. I quickly snapped this picture without
          even checking how it turned out, hopped down my makeshift step and
          walked away a little bit faster than I like to admit. I had forgotten
          how physical ghosts can be.
    </small>
    <p class="center hidden">
      <a href="/submissions" title="To submissions page" aria-label="To submissions page" >Submissions open</a>
    </p>
  </div>
</main>

{{ partial "footer" . }}
