{{ partial "head" . }}
{{ partial "header" . }}

<main>
  <div class="content">
    <a href="/issues/issue-1/">
      <img
        src="/img/first-edition-hero.png"
        alt="A very grainy photo of the inside of a mausoleum, mostly shrouded in shadows with a glowing smoke shape in the middle, raising from the floor."
      />
    </a>
    <div class="upcoming medium-padding-top">
      <strong><a href="/issues/issue-1/">1st Edition ✦ Coming Fall 2021</a></strong>
    </div>
    <div class="center medium-padding-top">
    <em>Including grainy and pixelated ghost drawings, spectral hospitality recommendations, a ghostly mixtape, a ghost story in the style of M.R.James and the written and visual work of 18 artists.</em>
    </div>
    <p class="center hidden">
      <a href="/submissions" title="To submissions page" aria-label="To submissions page" >Submissions open</a>
    </p>
  </div>
</main>

{{ partial "footer" . }}
