{{ partial "head" . }}
{{ partial "header" . }}

<main>
  <div class="content">
    <a href="/issues/issue-2/">
      <img
        src="/img/second-edition-hero.jpg"
        alt="A very grainy photo of the second edition of fantomes zine surrounded by dead leaves, a ouija planchette, and a hand of glory."
      />
    </a>
    <div class="center medium-padding-top">
      <a href="/issues/issue-2/"><strong>ISSUE 2 PRE-ORDER OPEN</strong></a>
    </div>
    <div class="center medium-padding-top">
    <em>Fantômes is a yearly collaborative ghost story zine, bringing together story-telling, poetry, folklore, illustration and photography in a small hand-bound publication. It is a place to explore personal and collective ghosts, lend them a voice through summoning rituals, raw poetry or scribbled drawings and get familiar with their haunting presence.</em>
    </div>
    {{ partial "submissions" . }}
  </div>
</main>

{{ partial "footer" . }}
