{{ partial "head" . }}
{{ partial "header" . }}

<main>
  <div class="content">
        <h1>{{ .Title }}</h1>
        <p>
          Submissions are currently open for the first edition, only black and
          white visual work will be accepted. Written pieces should be 4 pages
          or less in length (font size and layout makes a difference, if it's
          close to it I'll make it work).
        </p>
        <p>
          When submitting you will need to provide these informations:
        </p>
        <ul>
          <li>
            <strong>Name or pseudodym</strong>
          </li>
          <li>
            <strong>Link to website or social media</strong>
          </li>
          <li>
            <strong
              >Page format desired (small spread, large single page,
              etc.)</strong
            >
          </li>
          <li>
            <strong>Paper color desired</strong>
          </li>
          <li>
            <strong>Text file if written piece</strong>
          </li>
          <li>
            <strong>Image file (min 300 dpi) for visual works</strong>
          </li>
          <li>
            <strong
              >Accompanying text for visual works (optional, max 200
              words)</strong
            >
          </li>
        </ul>
        <p>
          Please check the <a href="/details">details page</a> for more
          information on format and paper colors.
        </p>
        <p>
          <strong
            >Send your submission to
            <a href="mailto:fantomeszine@gmail.com"
              >fantomeszine @ gmail (dot) com</a
            >
          </strong>
        </p>
      </div>
</main>

{{ partial "footer" . }}
