{{ partial "head" . }}
{{ partial "header" . }}

<main>
  <div class="content">
        <h1>{{ .Title }}</h1>
        <div class="small-separator medium-padding-top">
          <img src="/img/small-separator.png" alt="" />
        </div>
        <p>
          Submissions are currently open for the second edition, I'm looking for prose (fiction and non-fiction), poetry, illustrations and photographs (in black and
          white only) exploring themes of ghosts, hauntings, hauntology, psychogeography, transformation, occultism, spooky folklore.
        </p></p>
          The pieces can be more serious, introspective or research-based, or be more playful (I love depictions and stories of ghosts in the style of old fantasy litterature and artwork). Written pieces should be 4 pages or less in length (font size and layout makes a difference, if it's
          close to it I'll make it work).
        </p><p>
          If you have an idea for something that falls outside this list of mediums (say a small game about talking with the dead) feel free to reach out and propose it, I want this little zine to stay flexible and experimental in form and content.
        </p>
        <p>
          My goal with this zine is not to make money, for the first edition I've basically broke even and was able to send all artists a free copy. If I accept your piece I'll add you to a mailling list with all the other artists where I send updates on the process and the release date when I'm getting close to finishing the issue.
        </p>
        <p>
          When submitting a written piece you will need to provide the following information:
        </p>
        <ul>
          <li>
            <strong>Name or pseudodym</strong>
          </li>
          <li>
            <strong>Link to website or social media</strong>
          </li>
          <li>
            <strong
              >Page format desired (see options below)</strong
            >
          </li>
          <li>
            <strong>Paper color desired (see options below)</strong>
          </li>
          <li>
            <strong>Text file</strong>
          </li>
        </ul>
        <small>Note: All text will be reviewed by a professional editior before printing, the edited version of your text will be sent to you for approval before going to press.</small>
        <p>
          When submitting a visual piece you will need to provide the following information:
        </p>
        <ul>
          <li>
            <strong>Name or pseudodym</strong>
          </li>
          <li>
            <strong>Link to website or social media</strong>
          </li>
          <li>
            <strong>Page format preffered (small spread, large single page,
              etc.)</strong>
          </li>
          <li>
            <strong>Paper color preffered</strong>
          </li>
          <li>
            <strong>Image file in JPG or PNG (min 300 dpi)</strong>
          </li>
          <li>
            <strong
              >Accompanying text for visual works (optional, max 200
              words)</strong
            >
          </li>
        </ul>
        <small>Note: Your photos and illustrations will be turned black and white if you send then in color, additionally I might apply a treshold filter on the image to increase contrast and integrate it better in the whole zine.</small>

        <p>
          <strong>Send your submission to
            <a href="mailto:fantomeszine@gmail.com">fantomeszine @ gmail (dot) com</a>
          </strong>
        </p>

        <div class="small-separator medium-padding-top">
          <img src="/img/small-separator.png" alt="" />
        </div>

        <h2>Details</h2>
        The first edition will be printed in black only on a variety of paper
        colors in two sizes (like a small zine inside a bigger zine). Those will be saddled stitched together with some
        additional loose inserts.
        <br />
        <br />
        <img src="/img/page-details.jpg" alt="Preview of the zine with pages of different sizes" width="666" />
        <h3>Paper dimensions</h3>
        <table>
          <thead>
            <tr>
              <td>Size</td>
              <td>Width</td>
              <td>Height</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Small single page (A6)</td>
              <td>4”</td>
              <td>5.5”</td>
            </tr>
            <tr>
              <td>Small spread</td>
              <td>8”</td>
              <td>5.5”</td>
            </tr>
            <tr>
              <td>Large single page (A5)</td>
              <td>5.5”</td>
              <td>8.25”</td>
            </tr>
            <tr>
              <td>Large spread</td>
              <td>11”</td>
              <td>8.25”</td>
            </tr>
          </tbody>
        </table>
        <div class="medium-padding-top big-padding-bottom">
          <h3>Paper colors</h3>
          <div class="colors">
            <div class="color">
              <div class="color-sample" style="background:#7cd99d"></div>
              <span>Green</span>
            </div>
            <div class="color">
              <div class="color-sample" style="background:#f2eec9"></div>
              <span>Beige</span>
            </div>
            <div class="color">
              <div class="color-sample" style="background:#c9cab9"></div>
              <span>Grey</span>
            </div>
            <div class="color">
              <div class="color-sample" style="background:#ffffff60"></div>
              <span>Velum</span>
            </div>
            <div class="color">
              <div class="color-sample" style="background:#fff"></div>
              <span>White</span>
            </div>
          </div>
        </div>
        <img src="/img/DSC04959.jpg"/>
      </div>
</main>

{{ partial "footer" . }}
