:root {

/* --------- BUTTONS --------- */

/* Default */
--color-buttonPrimary: #ade0ae; /* lightBackColor */
--borderColor-buttonPrimary: #000000; /* darkTextColor */
--bgColor-buttonPrimary: #000000; /* darkTextColor */

/* Hover */
--color-buttonPrimary-hover: #ade0ae; /* lightBackColor */
--borderColor-buttonPrimary-hover: #7ec380; /* textColorAccent */
--bgColor-buttonPrimary-hover: #7ec380; /* textColorAccent */
--shadow-buttonPrimary-hover: none;

/* Active */
--color-buttonPrimary-active: #ade0ae; /* lightBackColor */
--borderColor-buttonPrimary-active: #7ec380; /* textColorAccent */
--bgColor-buttonPrimary-active: #7ec380; /* textColorAccent */
--shadow-buttonPrimary-active: none;

/* Focus */
--color-buttonPrimary-focus: #ade0ae; /* lightBackColor */
--borderColor-buttonPrimary-focus: #7ec380; /* textColorAccent */
--bgColor-buttonPrimary-focus: #7ec380; /* textColorAccent */
--shadow-buttonPrimary-focus: none;

/* Disabled */
--color-buttonPrimary-disabled: #ade0ae; /* lightBackColor */
--borderColor-buttonPrimary-disabled: #9a948d; /* disabled */
--bgColor-buttonPrimary-disabled: #9a948d; /* disabled */

/* Success */
--color-buttonPrimary-success: #ade0ae; /* lightBackColor */
--borderColor-buttonPrimary-success: green;
--bgColor-buttonPrimary-success: green;

/* Error */
--color-buttonPrimary-error: #ade0ae; /* lightBackColor */
--borderColor-buttonPrimary-error: #bb0e0e; /* error */
--bgColor-buttonPrimary-error: #bb0e0e; /* error */

/* --------- LINKS --------- */

/* Default */
--color-link: #000000; /* darkTextColor */
--borderColor-link: #000000; /* darkTextColor */
--bgColor-link: none;

/* Hover */
--color-link-hover: #7ec380; /* textColorAccent */
--borderColor-link-hover: #7ec380; /* textColorAccent */
--bgColor-link-hover: none;

/* Active */
--color-link-active: #7ec380; /* textColorAccent */
--borderColor-link-active: #7ec380; /* textColorAccent */
--bgColor-link-active: none;

/* Focus */
--color-link-focus: #7ec380; /* textColorAccent */
--borderColor-link-focus: #7ec380; /* textColorAccent */
--bgColor-link-focus: #7ec380; /* textColorAccent */
--shadow-link-focus: none;

/* -----------------------
    PART: Input
----------------------- */

--color-input: #000000; /* darkTextColor */
--borderColor-input: #000000; /* darkTextColor */
--bgColor-input: #fff; /* white */

/* Hover */
--color-input-hover: #7ec380; /* textColorAccent */
--borderColor-input-hover: #7ec380; /* textColorAccent */
--bgColor-input-hover: #fff; /* white */
--shadow-input-hover: none;

/* Focus */
--color-input-focus: #7ec380; /* textColorAccent */
--borderColor-input-focus: #7ec380; /* textColorAccent */
--bgColor-input-focus: #fff; /* white */
--shadow-input-focus: none;

/* Checked */
--color-input-checked: #ade0ae; /* lightBackColor */
--borderColor-input-checked: #7ec380; /* textColorAccent */
--bgColor-input-checked: #7ec380; /* textColorAccent */;
--shadow-input-checked: none;

/* Disabled */
--color-input-disabled: #9a948d; /* disabled */
--borderColor-input-disabled: #9a948d; /* disabled */
--bgColor-input-disabled: #fff; /* white */

/* Error */
--color-input-error: #bb0e0e; /* error */
--borderColor-input-error: #bb0e0e; /* error */
--bgColor-input-error: #fff; /* white */

/* Autofill */
--bgColor-input-autofill: none;

/* -----------------------
    PART: Label
----------------------- */

--color-inputLabel: #000000; /* darkTextColor */

/* Hover */
--color-inputLabel-hover: #7ec380; /* textColorAccent */

/* Focus */
--color-inputLabel-focus: #7ec380; /* textColorAccent */

/* -----------------------
    PART: Icon
----------------------- */

--color-inputIcon: #000000; /* darkTextColor */

/* Hover */
--color-inputIcon-hover: #7ec380; /* textColorAccent */

/* Focus */
--color-inputIcon-focus: #7ec380; /* textColorAccent */

/* Checked */
--color-inputIcon-checked: #7ec380; /* textColorAccent */

/* Disabled */
--color-inputIcon-error:

/* -----------------------
    PART: Placeholder
----------------------- */

--color-inputPlaceholder: #000000; /* darkTextColor */

/* ---------- BADGES ----------- */

/* Default (completed) */
--color-badge: #7ec380; /* textColorAccent */
--borderColor-badge: #7ec380; /* textColorAccent */
--bgColor-badge: #ade0ae; /* lightBackColor */

/* Active */
--color-badge-active: #ade0ae; /* lightBackColor */
--borderColor-badge-active: #ade0ae; /* lightBackColor */
--bgColor-badge-active: #7ec380; /* textColorAccent */

/* Disabled */
--color-badge-disabled: #000000; /* darkTextColor */
--borderColor-badge-disabled: #ade0ae; /* lightBackColor */
--bgColor-badge-disabled: #fff; /* white */

/* --------- GLOBAL --------- */

/* Default */
--color-default: #000000; /* darkTextColor */
--borderColor-default: #000000; /* darkTextColor */
--bgColor-default: #fff; /* white */

/* Alt */
--color-alt: #000000; /* darkTextColor */
--bgColor-alt: #fff; /* white */

/* Icon */
--color-icon: #000000; /* darkTextColor */

/* Success */
--color-success: green;
--bgColor-success: #ade0ae; /* lightBackColor */

/* Error */
--color-error: #bb0e0e; /* error */
--borderColor-error: #bb0e0e; /* error */
--bgColor-error: #ade0ae; /* lightBackColor */

/* Info */
--bgColor-info: #ade0ae; /* lightBackColor */

/* Modal */
--bgColor-modal: #ade0ae; /* lightBackColor */
--bgColor-modalVeil: #ade0ae; /* lightBackColor */

}
